#ignore Docker Volumes
mysql-data/
docker-volumes/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Sublime Text
*.sublime-workspace
*.sublime-project

# Vim
*.swp
*.swo

# App 
config/

# logs
*.log
logs/

# Docker Compose
docker-compose.override.yml
docker-compose.yml

temp/*

# specific files
notes.txt  
sql_change_port.txt
.env
*.env.local
*.secret

# Database specific
db-dumps/*.sql
*.sqlite
*.sqlite-journal
/vendor/
